{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="container">
<h1>Mon compte {{ user.email }}</h1>
        </div>
    </div>
</div>
{% endblock %}
